-- Add deliveryaddress column to orders table
ALTER TABLE orders ADD COLUMN IF NOT EXISTS deliveryaddress TEXT;

-- Add comment to describe the column
COMMENT ON COLUMN orders.deliveryaddress IS 'Delivery address for the order';
