-- Manual SQL to add created_by column to customers table
ALTER TABLE customers ADD COLUMN IF NOT EXISTS created_by varchar;
CREATE INDEX IF NOT EXISTS idx_customers_created_by ON customers(created_by);
SELECT column_name FROM information_schema.columns WHERE table_name = 'customers' AND column_name = 'created_by';
